<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Create Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />
   <!-- Datepicker styles and scripts -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

</head>
<body>
<div class="container">

<h3>Create a Memo!</h3>

<p>Date:<br><input type="text" name="datepicker" id="datepicker"></p>


  <p>Memo Message:<br><p>
  <textarea type="text" name="memotext" id="memotext" rows="10" cols="30"></textarea><br>
  <button onclick="submission()" id="submission">Submit Memo</button>
<script type="text/javascript">

function submission(){
  //format date
  var date = $('#datepicker').datepicker({dateFormat:'yy-mm-dd'}).val();
  date = String(date);
  var memo = $('textarea[name="memotext"]').val();
  add_memo(date, memo);
  loadPage("index");
 }
 function add_memo(date, memo) {
    $.getJSON('/_add_memo', { date: date, memo: memo });
  }
 function loadPage(txt) {
  location.href = txt;
}

</script>

</div> <!-- container -->
</body>
</html>
